# Sample .travis.yml for R projects

language: r
r: bioc-devel
# warnings_are_errors: true
sudo: false
cache: packages

r_github_packages:
      - jimhester/covr

after_success:
      - Rscript -e 'covr::codecov()'
